<%= render partial: "/layouts/navbar", locals: { task: @layouts } %>
<%= render partial: "/layouts/banner", locals: { task: @layouts } %>

<div class="container my-3">
  <div class="container">
    <h2>My lists</h2>
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<% if list.movies.first != nil %> <%= list.movies.first.poster_url%><% end %>) ">
        <%= link_to list.name, list_path(list) %>
        <%= link_to "delete", list_path(list), data: {turbo_method: :delete} %>
      </div>
    <% end  %>
  </div>

  <%= link_to "Create a new list", new_list_path %>
</div>
